@import '../../style/var.scss';

.wyy-header {
  height: $height;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 4px solid;
  &-logo {
    width: $width;
    max-width: $maxWidth;
    min-width: $minWidth;
    padding: 0 $spacing * 16;
    box-sizing: border-box;
    &-icon {
      font-size: $font-size-5;
      background-color: white;
      border-radius: 50%;
      padding: $spacing * 3;
    }
    &-text {
      color:  white;
      font-size: $font-size-5;
      margin-left: $spacing * 4;
    }
  }
  &-tools {
    display: flex;
    align-items: center;
    flex: 0 0 36%;
    &-nav {
      margin-right: $spacing * 8;
      span {
        color: white;
        font-size: $font-size-3;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: $spacing $spacing * 4;
        cursor: pointer;
      }
      span:first-of-type {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-right-width: 0;
      }
      span:last-of-type {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
    &-search {
      flex-grow: 1;
      max-width: 640px;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      padding: $spacing * 3 $spacing * 8;
      border-radius: 100px;
      position: relative;
      outline: 0;
      input {
        flex-grow: 1;
        font-size: $font-size-2;
        background-color: transparent;
        border: 0;
        color: white;
        position: relative;
        z-index: 2;
      }
      input:focus {
        outline: 0;
      }
      &-icon {
        font-size: $font-size-3;
        color: rgba(255, 255, 255, 0.65);
      }
      &-placeholder {
        position: absolute;
        font-size: $font-size-2;
        color: rgba(255, 255, 255, 0.65);
        z-index: 1;
      }
    }
  }

  &-user {
    flex: auto;
    height: 100%;
    padding-right: $spacing * 16;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    color: $primary-text-dark-color;

    &-vip {
      font-size: $font-size-2;
      margin-left: $spacing * 8;
      cursor: pointer;
    }
  
    &-skin,
    &-mail,
    &-setting {
      margin-left: $spacing * 20;
      outline: 0;
      span.header-icon {
        font-size: $font-size-4;
        cursor: pointer;
      }
    }
  
    &-vip:hover,
    &-skin:hover,
    &-mail:hover,
    &-setting:hover {
      span.header-icon {
        color: white;
      }
    }

    &-skin {
      position: relative;
    }
  }
}
