@import '../../../../style/var.scss';

.wyy-header-user-account {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    object-fit: cover;
  }

  &-avator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &-name {
    position: relative;
    outline: 0;

    span {
      font-size: $font-size-2;
    }
    
    span:first-of-type {
      margin: 0 $spacing * 4;
    }
  }

  &-name:hover {
    color: white;
  }

  &-subContent {
    position: absolute;
    left: 50%;
    top: $spacing * 20;
    z-index: 10;
    transform: translateX(-50%);
    width: 400px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;
    color: $title-light-color;
    padding: $spacing * 12 0;

    /** content1 */
    &-content1 {
      display: flex;
      align-items: center;
      padding: 0 $spacing * 12;
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: $spacing * 4;
      }
      span {
        font-size: $font-size-4;
        flex-grow: 1;
      }
    }

    /** content2 */
    &-content2 {
      display: flex;
      align-items: center;
      text-align: center;
      padding: $spacing * 12;
      border-bottom: 1px solid $border-light-color;
      &-item {
        flex-grow: 1;
        div:first-of-type {
          font-weight: bold;
          font-size: $font-size-4;
        }
        div:last-of-type {
          font-size: $font-size-2;
          padding-top: $spacing * 2;
        }
      }
      &-item:nth-of-type(2) {
        div {
          border-left: 1px solid $border-light-color;
          border-right: 1px solid $border-light-color;
        }
      }
    }

    /** content3 */
    &-content3 {
      padding: $spacing * 2 $spacing * 12;
      border-bottom: 1px solid $border-light-color;

      &-item {
        display: flex;
        align-items: center;
        margin: $spacing * 10 0;
        span {
          font-size: $font-size-2;
          color: $primary-text-light-color;
        }
        span:first-of-type {
          font-size: $font-size-5;
          margin-right: $spacing * 6;
        }
        span:nth-of-type(2) {
          flex-grow: 1;
        }
        span:last-of-type {
          color: $disabled-light-color;
          margin-top: $spacing;
          margin-left: $spacing * 4;
        }
      }

      &-item:nth-of-type(2) {
        span:nth-of-type(3) {
          font-weight: bold;
          font-style: italic;
          font-size: $font-size-3;
        }
      }

      &-item:nth-of-type(3) {
        span:first-of-type {
          font-size: $font-size-4;
        }
        span:nth-of-type(3) {
          font-weight: bold;
          font-style: italic;
          color: $red-color;
          font-size: $font-size-3;
        }
      }
    }

    /** content4 */
    &-content4 {
      padding: $spacing * 2 $spacing * 12;
      border-bottom: 1px solid $border-light-color;

      &-item {
        display: flex;
        align-items: center;
        margin: $spacing * 10 0;
        span {
          font-size: $font-size-2;
          color: $primary-text-light-color;
        }
        span:first-of-type {
          font-size: $font-size-5;
          margin-right: $spacing * 6;
        }
        span:nth-of-type(2) {
          flex-grow: 1;
        }
        span:last-of-type {
          color: $disabled-light-color;
          margin-top: $spacing;
          margin-left: $spacing * 4;
        }
      }

      &-item:last-of-type {
        span:nth-of-type(3),
        span:nth-of-type(4) {
          font-size: $font-size-6;
          color: $disabled-light-color;
        }
      }
    }

    /** content5 */
    &-content5 {
      padding: $spacing * 2 $spacing * 12 0;

      &-item {
        display: flex;
        align-items: center;
        margin: $spacing * 10 0 0;
        span {
          font-size: $font-size-2;
          color: $primary-text-light-color;
        }
        span:first-of-type {
          font-size: $font-size-5;
          margin-right: $spacing * 6;
        }
      }
    }
  }

  &-subContent:before {
    content: '';
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }

  &-sign-in {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid $border-light-color;
    padding: $spacing * 1 $spacing * 8 $spacing * 1 0;
    border-radius: $border-radius;

    span {
      font-size: $font-size-2;
    }

    span:first-of-type {
      font-size: $font-size-4;
    }
  }
}
